:root {
  --c-black: #000000;
  --c-accent: #0058fc;
  --c-primary: #000f2a;
  --c-secondary: #5d6d89;
  --c-white: #ffffff;
  --c-success: #00c98b;
  --c-warning: #ffc700;
  --c-error: #fc4444;
  --c-disabled: #d1d1d1;
  --c-overlay: rgba(255, 255, 255, 0.6);
  --c-focus: rgba(0, 68, 232, 0.4);
  --c-accent-dark: hsl(222, 90%, 45%);
  --c-accent-light: hsl(222, 100%, 60%);

  --text-w-300: rgba(0, 0, 0, 0.3);

  --fs-small: 1rem;
  --fs-medium: 1.25rem;
  --fs-large: 1.5rem;
  --ff: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--ff);
  transition:
    color 0.3s,
    background-color 0.3s,
    box-shadow 0.3s,
    border 0.3s,
    outline 0.3s;
}

body {
  min-height: 100vh;
  color: var(--c-primary);
  line-height: 1.6;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
